My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume Submission Form",
        "formDescription": "Please submit your resume, job link, and user email.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Job",
              "placeholder": "Please insert Job URL",
              "requiredField": true
            },
            {
              "fieldLabel": "User Email",
              "fieldType": "email",
              "placeholder": "Please provide email address",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "23c1801d-a735-4ed5-b52d-c3faff81bbdd",
      "name": "On form submission",
      "webhookId": "8fc350fe-93e7-4393-a2b1-6bfaf4332d62"
    },
    {
      "parameters": {
        "url": "={{ $('On form submission').item.json.Job }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "1b916080-0627-41ce-87dd-01af9da67f6a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert resume editor. Your task is to\nanalyze the candidate's resume alongside the job posting and deliver **concrete revision suggestions** to tailor the resume for this specific opportunity.\n\nPlease provide:\n\n1. A list of **specific resume bullet point rewrites or additions**, emphasizing quantifiable achievements and using terminology from the job posting.\n2. A **keyword matching summary** showing how key terms from the Grab job description map to revised resume content.\n3. Suggestions to improve tone, format, and\nstructure that reflect Grab's preferred style\n(e.g. concise, results-oriented, collaborative\nlanguage).\n4. Clear instructions for the candidate to\nimplement revisions.\n\nHere is a resume: {{ $('On form submission').item.json.Resume[0] }}\n\nHere is a job description: {{ $('On form submission').item.json.Job }}\n\nSuggest edits to the resume to better match the job posting. Then, write a short email summarizing your suggestions in a professional but approachable tone.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        752,
        0
      ],
      "id": "a1960b24-a199-457e-be88-277cd97de504",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        208
      ],
      "id": "3966a885-44ec-48da-9587-d907db0db33d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yEhwtW5N8HReecSG",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['User Email'] }}",
        "subject": "Your Tailored Resume Suggestions",
        "emailType": "text",
        "message": "=The previous node was not executed due to insufficient quota so this node couldn't be executed. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        0
      ],
      "id": "56d01115-cdc5-45fc-a6dd-6934e0c27014",
      "name": "Send a message",
      "webhookId": "4a6b1a90-ffe4-4c06-ad00-19d11938d328",
      "credentials": {
        "gmailOAuth2": {
          "id": "2yAyjXBTawJXug80",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "67ef674b-dcf0-43e2-8c3d-aa40955af3b1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"bullet_point_rewrites\": [\n    {\n      \"original\": \"Managed team projects.\",\n      \"revised\": \"Led a cross-functional team of 5 to deliver 3 high-impact projects, improving operational efficiency by 20%.\"\n    },\n    {\n      \"original\": \"Improved user engagement.\",\n      \"revised\": \"Boosted user engagement by 35% through targeted UX redesign and A/B testing.\"\n    }\n  ],\n  \"keyword_mapping\": [\n    {\n      \"job_keyword\": \"Data-Driven Decision Making\",\n      \"resume_match\": \"Implemented analytics dashboards using SQL and Power BI to support data-informed decisions.\"\n    },\n    {\n      \"job_keyword\": \"Collaboration\",\n      \"resume_match\": \"Partnered with cross-functional teams across design and engineering to streamline feature rollouts.\"\n    }\n  ],\n  \"style_suggestions\": [\n    \"Use concise, results-oriented bullet points.\",\n    \"Start each line with strong action verbs like 'Led', 'Built', 'Improved'.\",\n    \"Use consistent tense (past for previous roles, present for current role).\",\n    \"Add measurable impact (%, $, time saved, etc.) where possible.\"\n  ],\n  \"revision_instructions\": [\n    \"Replace generic bullet points with those in 'bullet_point_rewrites'.\",\n    \"Include more keywords from the job post to improve ATS matching.\",\n    \"Reformat section headers for clarity (e.g., 'Experience' > 'Professional Experience').\"\n  ],\n  \"email_summary\": \"Hi [Candidate Name],\\n\\nI've reviewed your resume against the Grab job posting. Below are some specific improvements you can make to better align with the role:\\n\\n- Rewrote several bullet points to highlight measurable impact.\\n- Mapped key job description terms to your revised content for better ATS visibility.\\n- Suggested formatting and tone changes to reflect Grab’s style.\\n\\nLet me know if you’d like help applying these edits!\\n\\nBest,\\n[Your AI Resume Assistant]\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1104,
        304
      ],
      "id": "c8e3e646-dc13-420e-816c-77ab7500aecc",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44b676ff-ef29-4913-8691-835fde2b0105",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e5d25b6c69e73ebdf896256100ca9fb5224ecfa10a45568c5cd1d01ce88af35"
  },
  "id": "vvPGLRedHgMgDFax",
  "tags": []
}