n8n Resume Refiner AI Agent workflow.json
{
  "name": "Dawa's Tailored Resume Suggestions",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume Submission Form",
        "formDescription": "Please submit your resume, job link, and user email.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Job",
              "placeholder": "Please insert Job URL",
              "requiredField": true
            },
            {
              "fieldLabel": "User Email",
              "fieldType": "email",
              "placeholder": "Please provide email address",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "23c1801d-a735-4ed5-b52d-c3faff81bbdd",
      "name": "On form submission",
      "webhookId": "8fc350fe-93e7-4393-a2b1-6bfaf4332d62"
    },
    {
      "parameters": {
        "url": "={{ $('On form submission').item.json.Job }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "1b916080-0627-41ce-87dd-01af9da67f6a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert resume editor. Your task is to\nanalyze the candidate's resume alongside the job posting and deliver **concrete revision suggestions** to tailor the resume for this specific opportunity.\n\nPlease provide:\n\n1. A list of **specific resume bullet point rewrites or additions**, emphasizing quantifiable achievements and using terminology from the job posting.\n2. A **keyword matching summary** showing how key terms from the Grab job description map to revised resume content.\n3. Suggestions to improve tone, format, and\nstructure that reflect Grab's preferred style\n(e.g. concise, results-oriented, collaborative\nlanguage).\n4. Clear instructions for the candidate to\nimplement revisions.\n5. Ensure the resume is ATS-friendly (no tables or images, use plain text format).\n\n\nHere is a resume: {{ $('On form submission').item.json.Resume }}\n\nHere is a job description: {{ $('On form submission').item.json.Job }}\n\nSuggest edits to the resume to better match the job posting. Then, write a short email summarizing your suggestions in a professional but approachable tone.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "id": "a1960b24-a199-457e-be88-277cd97de504",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        224
      ],
      "id": "3966a885-44ec-48da-9587-d907db0db33d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zng8JUFtuTBbsc9n",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['User Email'] }}",
        "subject": "Your Tailored Resume Suggestions",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        line-height: 1.6;\n        color: #333;\n        padding: 20px;\n      }\n      h2 {\n        color: #0056b3;\n        margin-top: 20px;\n        margin-bottom: 10px;\n      }\n      ul {\n        padding-left: 20px;\n      }\n      li {\n        margin-bottom: 8px;\n      }\n    </style>\n  </head>\n  <body>\n    <h2>Actionable Suggestions to Improve the Resume</h2>\n    <ul>\n      {{ $json.output.resume_suggestions.map(suggestion => `<li>${suggestion}</li>`).join(\"\\n\") }}\n    </ul>\n\n    <h2>Keywords/Phrases from Job Description</h2>\n    <ul>\n      {{ $json.output.job_keywords.map(keyword => `<li>${keyword}</li>`).join(\"\\n\") }}\n    </ul>\n  </body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        0
      ],
      "id": "56d01115-cdc5-45fc-a6dd-6934e0c27014",
      "name": "Send a message",
      "webhookId": "4a6b1a90-ffe4-4c06-ad00-19d11938d328",
      "credentials": {
        "gmailOAuth2": {
          "id": "2yAyjXBTawJXug80",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "67ef674b-dcf0-43e2-8c3d-aa40955af3b1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"resume_suggestions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Actionable edits or improvements tailored to the resume\"\n    },\n    \"job_keywords\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"Important keywords or phrases extracted from the job posting\"\n    }\n  },\n  \"required\": [\"resume_suggestions\", \"job_keywords\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        224
      ],
      "id": "c8e3e646-dc13-420e-816c-77ab7500aecc",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17cd4054-8f85-49c3-ad89-29330bc4f7f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e5d25b6c69e73ebdf896256100ca9fb5224ecfa10a45568c5cd1d01ce88af35"
  },
  "id": "vvPGLRedHgMgDFax",
  "tags": []
}